.linkIconsBorder {
  position: relative;
  overflow: hidden;
}

.linkIconsBorder::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 4px;
  width: 0%;
  background: linear-gradient(to right, var(--hover-button), var(--foreground));
  transition: width 0.3s ease;
}

.linkIconsBorder:hover::after {
  width: 100%;
}

.hireMeButton {
  background-image: linear-gradient(
    to right,
    var(--navbar-button-start),
    var(--navbar-button-end)
  );
}

.hireMeButton:hover {
  background-image: linear-gradient(
    to right,
    var(--navbar-button-start-hover),
    var(--navbar-button-end-hover)
  );
}
