.linkIconsBorder {
    position: relative;
    overflow: hidden;
  }
  
  .linkIconsBorder::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 4px;
    width: 0%;
    background: linear-gradient(to right, var(--navbar-button-start), var(--navbar-button-end));
    transition: width 0.3s ease;
  }
  
  .linkIconsBorder:hover::after {
    width: 100%;
  }
  
  .hireMeButton {
    background: linear-gradient(to right,var(--scroll-navbar-button-start), var(--scroll-navbar-button-end));
    transition: background 10s ease;
  }
  
  .hireMeButton:hover {
      background: linear-gradient(to right,var(--scroll-navbar-button-end), var(--scroll-navbar-button-start));
    }
    