.itemComponent {
  background: linear-gradient(
    to right,
    var(--card-component-bg-start),
    var(--card-component-bg-end)
  );
  transition: background 2s ease-out, transform 0.5s ease-out;
}


.itemComponent:hover {
  transform: scale(1.03);
    background: linear-gradient(
      to right,
      var(--card-component-bg-start-hover),
      var(--card-component-bg-end-hover)
    );
  }
