@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2a1454;
  --foreground: #0f0715;
  /* main navbar */
  --navbar-button-start: #ccb1fa;
  --navbar-button-end: #ccb1fa;
  --navbar-link-hover-start: #ccb1fa;
  --navbar-link-hover-end: #ccb1fa;
  /* scroll navbar */
  --scroll-navbar-button-start: #ffffff;
  --scroll-navbar-button-end: #ccb1fa;
  --scroll-navbar-link-hover-start: #d6c0fc;
  --scroll-navbar-link-hover-end: #33106b;

  /* shadow color */
  --shadow-color:#6638a1;;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  position: relative;
  min-height: 100vh;
}

body {
  background: radial-gradient(
    circle at top left,
    var(--background),
    var(--foreground)
  );
  min-height: 150vh;
  font-family: Arial, Helvetica, sans-serif;
}

.dot {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(248, 242, 242, 0) 70%
  );
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.dot1 {
  top: -10%;
  right: 0;
}

.dot2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot3 {
  bottom: 0%;
  left: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* for test cases */
.abc {
  border: 2px solid black;
}

.def {
  border: 2px solid white;
}

.ghi {
  border: 2px solid red;
}
