@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2a1454;
  --foreground: #0f0715;
  /* main navbar */
  --navbar-button-start: #ccb1fa;
  --navbar-button-end: #ccb1fa;
  --navbar-link-hover-start: #ccb1fa;
  --navbar-link-hover-end: #ccb1fa;
  /* scroll navbar */
  --scroll-navbar-button-start: #ffffff;
  --scroll-navbar-button-end: #ccb1fa;
  --scroll-navbar-link-hover-start: #d6c0fc;
  --scroll-navbar-link-hover-end: #33106b;

  /* shadow color */
  --shadow-color: #6638a1;

  /* introduction */
  --introduction-title-start: #8750f7;
  --introduction-title-end: #fff;

  /* social media icons colors */
  --social-media-icon-color: #8560d1;
  --social-media-icon-color-hover: #260664;
  --social-media-icon-border-color: #8560d1;

  /* download cv button */
  --download-cv-icon-color: #8560d1;
  --download-cv-icon-color-hover: #260664;
  --download-cv-icon-border-color: #8560d1;

  /* top up text */
  --top-up-text-stroke-start: #ba95f7;
  --top-up-text-stroke-end: #8353e4;
  --top-up-text-fill: #dbd0f1;

  /* my image */
  --my-image-border-color: #3d05ad;
  --my-image-border-color-hover: #9459fa;
  --my-image-shadow-color-hover: #9459fa;

  /* services table */
  --service-table-start: #6a4ca1;
  --service-table-end: #100227;
  --service-table-number: #390c80;
  --service-table-number-hover: #733ec7;

  /* service */
  --service-title-start: #3a0e92;
  --service-title-end: #fff;

  /* recent works */
  --recent-works-start-bg: #522aa3;
  --recent-works-end-bg: #0f0715;
  --recent-works-start: #3a0e92;
  --recent-works-end: #fff;
  --recent-works-card-hover-shadow: #744ac7;
  --recent-works-card-label-background: #59467c;
  --recent-works-card-label-background-hover: #3d2270;
  --recent-works-card-label-border: #321272;
  --recent-works-card-label-button: #512f94;
  --recent-works-card-label-button-circle: #1c0c3a;
  --recent-works-filter-button-hover-start: #baa0ec;
  --recent-works-filter-button-hover-end: #5824b9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  position: relative;
  min-height: 100vh;
}

body {
  background-image: radial-gradient(
    circle,
    var(--recent-works-start-bg) 1%,
    var(--recent-works-end-bg) 20%
  );
  min-height: 100vh;
  background-position: top right;
  animation: bodyBubble 4s infinite ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

/* @keyframes bodyBubble {
  0% {
    background-size: 150%;
  }
  50% {
    background-size: 100%;
  }
  100% {
    background-size: 150%;
  }
} */

.dot {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(248, 242, 242, 0) 70%
  );
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.dot1 {
  top: -10%;
  right: 0;
}

.dot2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot3 {
  bottom: 0%;
  left: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* for test cases */
.abc {
  border: 2px solid black;
}

.def {
  border: 2px solid white;
}

.ghi {
  border: 2px solid red;
}
