.servicesTable {
    background: linear-gradient(
        to right,
        var(--service-table-start),
        var(--service-table-end)
    );
    background-size: 200%;
    background-position: left;
    transition: background-position 1.2s ease;
    border: 2px solid var(--service-table-border);
}

.servicesTable:hover {
    background-position: right;
    border: 2px solid var(--service-table-border-hover);
}

.tableNumber{
    color: var(--service-table-number);
}

.tableNumber:hover{
    color: var(--service-table-number-hover);
}