.serviceGradient {
    background: linear-gradient(
      to right,
      var(--quality-services-title-start),
      var(--quality-services-title-end)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  